{
  "plugins": [
    "jsx-control-statements",
    "inline-svg",
    [
      "module-resolver", {
        "root": ["./"],
        "alias": {
          "@imports": "./imports",
          "@public": "./public"
        }
      }
    ]
  ]
}
